.back-button {
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10;
}

.market-wrapper {
  position: relative;
}

.market-controler {
  position: absolute;
  z-index: 9;
  top: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.current-candle-data {
  color: white;
  display: flex;
  gap: 8px;
}

.market-list-container {
  position: relative;
  width: 200px;
}

.socket-connection-indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 2px;
}

.current-candle-timer {
  color: white;
}

.charts-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - [height of market-controls]);
}

.chart-container {
  flex-grow: 1;
  position: relative;
}

.chart-divider {
  height: 3px;
  background-color: #2a2a2a;
  cursor: row-resize;
}

.chart-divider:hover {
  height: 5px;
  background-color: #1C264F;
}